@font-face {
  font-family: "work Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/work-sans-v18-latin-regular.woff),
       url(../fonts/work-sans-v18-latin-regular.woff2),
       url(../fonts/work-sans-v18-latin-regular.ttf);
}

@font-face {
  font-family: "work Sans";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/work-sans-v18-latin-500.woff),
       url(../fonts/work-sans-v18-latin-500.woff2),
       url(../fonts/work-sans-v18-latin-500.ttf);
}


@font-face {
  font-family: "work Sans";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/work-sans-v18-latin-600.woff),
       url(../fonts/work-sans-v18-latin-600.woff2),
       url(../fonts/work-sans-v18-latin-600.ttf);
}

@font-face {
  font-family: "work Sans";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/work-sans-v18-latin-700.woff),
       url(../fonts/work-sans-v18-latin-700.woff2),
       url(../fonts/work-sans-v18-latin-700.ttf);

}